# Neovim
*.swp
*.swo
*~
.netrwhist
session.vim

# Lua
*.luac
luac.out

# Dependencies
/node_modules
/vendor
/.venv
/venv

# IDE
.vscode/
.idea/
*.iml
.DS_Store
*.sublime-*
tags

# Build/Release
dist/
build/
*.zip
*.tar.gz

# Logs
*.log
npm-debug.log*

# OS
Thumbs.db
.DS_Store

# Testing
.coverage
coverage/

# Local env
.env
.env.local
